*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.contenedor{
    width: 90%;
    height:600px ;
    background-color: blue;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap;
    flex-wrap: wrap;
    flex-wrap: wrap-reverse;
    flex-flow: column wrap-reverse; */
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */
    /* align-items: baseline; */
    /* flex-wrap: wrap;
    align-content: flex-start;  
    align-content: flex-end;
    align-content: space-between; 
    align-content: space-around;   */
    /* gap: 20px; */
    
}

.contenedor div{
    background-color: rgb(110, 83, 134);
    width: 250px;
    height: 200px;
    max-width: 300px;
}

.contenedor__item:nth-child(1){
    background-color: aqua;
    /* order:1; */
    /* flex-grow: 2; */
    
}

.contenedor__item:nth-child(2){
    background-color: rgb(255, 0, 255);
    /* flex-grow: 2; */
    /* flex-shrink:1; */
    flex-basis: auto;
    flex-basis: 600px;
    flex: 1 0 400px;
}
.contenedor__item:nth-child(3){
    background-color: rgb(0, 255, 128);
    /* order:-1; */
        /* flex-grow: 2; */

}

@media (max-width:800px){
    .contenedor__item:nth-child(1){
    order:1;
}


.contenedor__item:nth-child(3){
    order:-1;
}

}